.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    height: 60px;
}
.headroom--unfixed {
    position: relative;
    transform: translateY(0);
}
.headroom--scrolled {
    transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
}
.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
}

.header-menu-item {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: gray;
    vertical-align: middle;
    height: 60px;
    transition: transform .2s;
}

.header-menu-item:hover {
    position: relative;
    color: black;
    cursor: pointer
}

.sub-header {
    height: 70px;
    background-color: paleturquoise;
    color: chocolate;
}


.sub-header-link {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: chocolate;
    vertical-align: middle;
    height: 70px;
    transition: transform .2s;
}

.sub-header-link:hover {
    position: relative;
    color: white;
    cursor: pointer
}

.sub-header-name {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: white;
}

/*.header-menu-item:hover:after {*/
    /*content: url(../style/angle-arrow-down.svg); !* no need for qoutes *!*/
    /*height: 5px;*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 1px; !* change this value to one that suits you *!*/
/*}*/
.main-data-container {
    margin: 90px 30px 0px
}
.one {
    position: relative;
    z-index: 1;
    background-color: white;
    height: 670px;
    background-image: url(https://res.cloudinary.com/dar4inn2i/image/upload/v1552770405/igoo0o4zl00hpddaaouj.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.two {
    background-color: white;
    height: 670px;
    background-image: url(https://res.cloudinary.com/dar4inn2i/image/upload/v1551468305/45670544451_05dbf59644_b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.three {
    background-color: white;
    height: 670px;
    background-image: url(https://res.cloudinary.com/dar4inn2i/image/upload/v1552770415/slw4w6qfgkpxdrppqeqk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.default-panel {
    margin: 20px 20px 0 20px;
    min-height: 600px;
    background-color: white;
}

.home-info {
    height: 600px;
    line-height: 20px;
    background: #364d79;
}

.login-form {
    min-height: 450px;
    background: white;
}

.login-form-button {
    width: 100%;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.gutter-register-box {
    margin: 10px;
    min-height: 650px;
    background: white;
    padding: 10px 0;
}

.gutter-register-side-box {
    margin: 10px;
    min-height: 650px;
    background: #e8e8e8;
    padding: 30px 0;
}

.header-item-right {
    float: right;
    margin-right: 20px;
    font-size: 16px;
}

.header-user-welcome {
    float: right;
    margin-right: 200px;
}

.imageFadeOut{
    transition: transform .2s; /* Animation */
}

.imageFadeOut:hover {
    cursor: pointer;
    opacity: 0.7;
}

.cardImage:hover{
    cursor: pointer;
    opacity: 0.7;
}