.input-search {
    border: none;
    width: 400px;
}

.input-search input {
    width: 400px;
    border: none;
    background-color: #eeeeee;
}

.input-search input:focus {
    width: 400px;
    background-color: white;
}

.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #202022;
    height: 50px;
}

.headroom--unfixed {
    position: relative;
    transform: translateY(0);
}

.headroom--scrolled {
    transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
}

.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
}

.header-menu-item {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: white;
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

.header-menu-item:hover {
    position: relative;
    color: #45b4bf;
    cursor: pointer
}

.header-popover-menu-item {
     font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
     background-color: white;
     color: #202022;
 }

.header-popover-menu-item:hover {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: #45b4bf;
    cursor: pointer
}

.ant-popover-inner-content{
    background-color: white;
}

.header-image-cover img{
    height: 210px;
    width: 100%;
    object-fit: cover;
}

.sub-header {
    position: relative;
    height: 50px;
    background-color: white;
    color: #202022;
    border-bottom: lightgray solid 1px;
}

.sub-header-link {
    font-family: 'DejaVu Sans', Helvetica, sans-serif;
    color: #202022;
    height: 50px;
    display: table-cell;
    border-bottom: transparent solid 3px;
    vertical-align: middle;
    transition: transform .2s;
}

.sub-header-link:hover {
    position: relative;
    color: black;
    cursor: pointer;
    border-bottom: black solid 3px;
}

.sub-header-name {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: #202022;
}

.dashboard-side-menu-header{
    margin-top: 20px;
    height: 40px;
    background-color: #f6f8f9;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.dashboard-side-menu-header:hover{
    cursor: pointer;
}

.dashboard-side-menu-item{
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: #45b4bf;
    height: 25px;
    background-color: #f6f8f9;
    font-size: 18px;
    transition: transform .2s;
}

.dashboard-side-menu-item:hover {
    color: #202022;
    cursor: pointer;
}

.all-groups-list-item:hover {
    margin-left: 5px;
    background-color: #e8e8e8;
    opacity: 1.2;
    cursor: pointer;
}

.main-container {
    min-height: 650px;
    background-color: #f6f8f9;
}

.main-data-container {
    padding: 40px 0 ;
    background-color: #f6f8f9;
}

.dashboard-data-container {
    transition: all 2s ease-in-out;
    overflow: hidden;
}

.one {
    position: relative;
    background-color: white;
    height: 670px;
    background-image: url(https://res.cloudinary.com/dar4inn2i/image/upload/v1552770405/igoo0o4zl00hpddaaouj.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.two {
    background-color: white;
    height: 670px;
    background-image: url(https://res.cloudinary.com/dar4inn2i/image/upload/v1551468305/45670544451_05dbf59644_b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.three {
    background-color: white;
    height: 670px;
    background-image: url(https://res.cloudinary.com/dar4inn2i/image/upload/v1552770415/slw4w6qfgkpxdrppqeqk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.default-panel {
    margin: 20px 20px 0 20px;
    min-height: 600px;
    background-color: white;
}

.home-info {
    height: 600px;
    line-height: 20px;
    background: #364d79;
}

.login-form {
    margin: 70px 30px 0px;
    min-height: 450px;
    background: white;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.gutter-register-box {
    margin: 30px 10px;
    min-height: 650px;
    background: white;
    padding: 10px 0;
}

.gutter-register-side-box {
    margin: 30px 10px;
    min-height: 650px;
    background: #e8e8e8;
    padding: 30px 0;
}

.header-item-right {
    float: right;
    margin-right: 20px;
    font-size: 16px;
}

.header-user-welcome {
    float: right;
    margin-right: 200px;
}

.imageFadeOut {
    transition: transform .2s; /* Animation */
}

.hidden-image {
    display: none;
}

.imageFadeOut:hover .hidden-image {
    display:block;
}

.imageFadeOut:hover {
    cursor: pointer;
    opacity: 0.7;
}

.cardImage:hover {
    cursor: pointer;
    opacity: 0.7;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    margin-top: 40px;
}